
.main{
    display: flex;
    justify-content: space-between;
    padding-right: 180px;
    padding-top: 50px;
}


.content{
    padding: 40px 160px;
}

h3{
    margin-bottom: 7px;
    font-size: 23px;
    color: #30ADA3;
    font-weight: 400;
}

h2{
    margin-bottom: 14px;
    font-size: 36px;
    font-weight: 400;
}

p{
    margin-bottom: 10px;
    font-size: 23px;
}

.btn{
    font-size: 20px;
    padding: 10px 30px;
    border: 2px solid #30ADA3;
    color: #30ADA3;
    border-radius: 2px;
    transition: 0.3s;
}


.btn:hover{
    cursor: pointer;
    border-color: aqua;
    color: aqua;
}

.photo img{
    padding: 7px;
    border-radius: 100%;
    height: 200px;
}
.photo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pp{
    border: 3px solid #30ADA3;
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    align-items: center;
    border-radius: 100%;
    margin-bottom: 20px;
    transition: 0.3s;
}

.pp:hover{
    border-color: aqua;
}

.profile{
    padding: 180px 160px;
    display: flex;
    justify-content: space-between;
}

.social{
    padding-left: 37px;
    display: flex;
    align-items: center;
}

.social *{
    padding-right: 10px;
}


#mail:hover, #git:hover, #li:hover{
    cursor: pointer;
    opacity: 50%;
}

#mail{
    height: 32px;
}

.top{
    display: flex;
    margin-bottom: 20px;
}

.top h2{
    padding-top: 0;
    padding-left: 20px;
}

.con{
    width: 60vw;
    padding-right:  130px;
    padding-left: 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

